<nav id="header" class="navbar navbar-expand-lg fixed-top">
    <div class="container-lg">
        <button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a id="logo" class="navbar-brand d-flex justify-content-center" href="/">
            <img src="/imgs/logo.svg" alt="Logo" width="100" height="50" class="d-inline-block align-text-top"/>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggleExternalContent">
            <ul id="navbar-nav" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="#home">首頁</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="#product">數位服務</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="#introduce">服務介紹</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="#about">關於專案</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <div class="search-wrapper">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Type to search"/>
                        <button class="search-icon">
                            <span></span>
                        </button>
                        <span class="close"></span>
                    </div>
                </div>
                <div class="line-btn"></div>
            </div>
        </div>
    </div>
</nav>