{% extends 'util/base.njk' %}
{% block prefab %}

  <div class="step1-process">
    <div class="fieldgroup">
      <input type="text" name="IDNumber" id="IDNumber" autocomplete="off"/>
      <label for="IDNumber">身分證字號</label>
    </div>
    <div class="fieldgroup">
      <input type="text" name="creditCardNumber" id="creditCardNumber"/>
      <label for="creditCardNumber">他行信用卡卡號 </label>
    </div>
    <span
    class="person"
    style="font-size: 15px; text-decoration: none; color: aqua"
    >開放持卡身分驗證金融機構</span
  >
    <div class="fieldgroup">
      <span>信用卡有效月年：</span>
      <div class="d-flex my-2">
        <select
        id="creditCardMonth"
        class="form-select mx-1"
        aria-label="Default select example"
      >
          <option selected>請選擇月</option>
          {% for i in range(1, 13) %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
        <select
        id="creditCardYear"
        class="form-select mx-1"
        aria-label="Default select example"
      >
          <option selected>請選擇年</option>
          {% for i in range(23, 31) %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <p class="my-5">
    ※<span style="color: red; font-weight: bold">您輸入之卡號</span>
    僅作為本次信用卡申請身分驗證之用，
    <span style="color: red; font-weight: bold">並非以卡辦卡</span>
    ，仍需檢附財力證明供本行進行審核。
  </p>
  </div>

  <div class="step1-process">
    <div class="fieldgroup">
      <span>他行銀行別</span>
      <div class="d-flex my-2">
        <select
        id="bankSelect"
        class="form-select mx-1"
        aria-label="Default select example"
      >
          <option selected>請選擇</option>
          {% for code in Code %}
            <option value="{{ code.code }}">{{ code.code }}
              {{ code.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="fieldgroup">
      <input type="text" name="creditCardNumber" id="creditCardNumber"/>
      <label for="creditCardNumber">他行信用卡卡號</label>
    </div>
    <div class="fieldgroup">
      <input type="text" name="taiwanMobileNumber" id="taiwanMobileNumber"/>
      <label for="taiwanMobileNumber">留存於他行之行動電話</label>
    </div>
  </div>

  <div class="step1-process">
    <div class="fieldgroup">
      <input type="text" name="yourName" id="yourName"/>
      <label for="yourName">姓名</label>
    </div>
    <div class="fieldgroup">
      <input type="text" name="IDNumber" id="IDNumber"/>
      <label for="IDNumber">身分證字號</label>
    </div>
    <div class="fieldgroup">
      <input type="text" name="taiwanMobileNumber" id="taiwanMobileNumber"/>
      <label for="taiwanMobileNumber">行動電話</label>
    </div>
  </div>

  <div id="new-upload-wrap" class="row my-3">
    {% for i in range(0, 2) %}
      <div class="col-md-6">
        <div class="image-upload-wrap h-100">
          <input
        class="file-upload-input"
        type="file"
        name="file"
        accept="image/*"
        style="
          display: block;
          position: absolute;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          outline: none;
          opacity: 0;
          cursor: pointer;
        "
/>
          <div class="drag-text" style="display: block">
            <h3>拖放文件或選擇添加圖像</h3>
          </div>
          <div class="file-upload-content" style="display: none">
            <img class="file-upload-image" src="" alt="your image"/>
            <div class="image-title-wrap">
              <button type="button" class="remove-image" style="z-index: 999">
            刪除 <span class="image-title">上傳的圖片</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock prefab %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}

  <div>
    <div id="card">
      <div id="stars">
        <div id="star"></div>
        <div id="star2"></div>
        <div id="star3"></div>
      </div>
    </div>
  </div>

  <div id="card-process" class="wrapper">
    <h1 class="mt-5">信用卡線上申辦流程</h1>

    <div class="form-progress">
      <progress
      class="form-progress-bar"
      min="0"
      max="100"
      value="0"
      step="33"
      aria-labelledby="form-progress-completion"
    ></progress>

      <div class="form-progress-indicator one active"></div>
      <div class="form-progress-indicator two"></div>
      <div class="form-progress-indicator three"></div>
      <div class="form-progress-indicator four"></div>

      <p
      id="form-progress-completion"
      class="js-form-progress-completion sr-only"
      aria-live="polite"
    >
      0% complete
    </p>
    </div>
    <div class="main-agileinfo container">
      <div class="agileits-top">
        <div class="animation-container">
          <!-- Step one -->
          {% include 'card-apply/form-step-1.njk' %}
          <!-- Step two -->
          {% include 'card-apply/form-step-2.njk' %}
          <!-- Step three -->
          {% include 'card-apply/form-step-3.njk' %}
          <!-- Step four -->
          {% include 'card-apply/form-step-4.njk' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script type="module" src="/js/cardApplyProcess.js"></script>
{% endblock %}