<div class="form-step js-form-step waiting hidden" data-step="4">
    <form action="" name="form-step-4">
        <p>本行已收到您的申請，將於二至十個工作天以簡訊通知審核結果</p>
        <p>
              歡迎自行下載本次申請書留存，請點下載申請書。(請使用
              <a href="https://get.adobe.com/tw/reader/" target="_blank"
                >Adobe Reader7.0</a
              >
              以一版本閱讀)
            </p>

        <div class="buttons">
            <button id="nextBtnFormStep4" type="submit" class="btn">
                確認
              </button>
        </div>
    </form>
</div>