<div class="form-step js-form-step" data-step="1">
    <p class="form-instructions largeCharacters" style="font-size: 2em">請選擇申請方式</p>
    <p class="form-instructions">
            以他行信用卡，他行帳戶進行分驗證，快速免郵寄!
          </p>
    <div
            id="choose"
            class="buttons"
            style="justify-content: space-evenly"
          >
        <button id="choose-1-btn" class="btn">他行信用卡</button>
        <button id="choose-2-btn" class="btn">他行帳戶</button>
        <button id="choose-3-btn" class="btn">專人聯繫</button>
    </div>
    <form action="" name="form-step-1"></form>
    <div class="buttons row" style="justify-content: space-evenly">
        <div class="col-md-6 my-1">
            <button id="close-from-1-Btn" class="btn w-100">上一步</button>
        </div>
        <div class="col-md-6 my-1">
            <button id="nextBtnFormStep1" class="btn w-100" type="submit">
                下一步
              </button>
        </div>
    </div>
</div>